name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest

    - name: Run unit tests
      run: pytest

    - name: Build Docker image
      run: docker build -t cats-dogs-inference:ci .

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push image
      run: |
        docker tag cats-dogs-inference:ci ${{ secrets.DOCKER_USERNAME }}/cats-dogs:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/cats-dogs:latest